html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

#header {
    position: absolute;
    z-index: 10;
    width: 100%; 
}

.navbar{
    padding: 50px 0;
}

.navbar-brand{
    font-weight: 600;
    font-size: 1.5em; 
}

.navbar-dark .navbar-brand {
    color: #262626;
    mix-blend-mode: difference;
}

.nav-item {
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;

}

.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #262626;

}
.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    background: #262626;
    color: #dcdde1;
}

.main {
    position: relative;
    background: url(images/bg-img.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 220px 0 200px;
}
    
.main h2 {
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    color: #262626;
    text-transform: uppercase;
    font-weight: bold;
}

.main p{
    margin-top: 1em;
    padding:0;
    font-size: 1em;
    color: #262626;
}

.main .btn {
    background: #718093;
    color: #fff;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;

}

#projects {
    height:1500px;
    background:white;
    width: 100%;
    display: inline-block;

}

.jumbotron {
    background:  #e6e6e6;
}

#contact {
    height:700px;
    background:  #e6e6e6;
    width: 100%;
    display: inline-block;

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.project {
    position: relative;
    margin-top: -70px;
    margin-bottom: 20px;

  }

.jumbotron {
    height: 450px;
    width: 100%;
    
}

#project-img {
    height: 350px;
    width: 500px;
    margin-left: 0;
    border-radius: 5px;
    cursor: pointer;
}

#gallery-left .gallery-right{
    top: 500;
    position: absolute;
}

#gallery-left {
    float: left;
    left: 20px
}

#gallery-right {
    float: right;
    right: 20px
}

.project-details {
    margin-right: 0;
}

#my-details {
    position: relative;
    margin-top: -70px;
    margin-bottom: 20px;
}
.contact-pic {
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#contact-me {
    margin-top: 15px;
    margin-left: 40px;
}

.social-section {
    margin-left: 35px;
    margin-top: 10px;
}

.social-section div {
    display:inline-block;
    width: 50px;
}

.social-media {
    width: 30px;
    height: 30px;
}
.social {
    cursor: pointer;
}

@media(max-width: 768px){
    .main{
        padding: 200px 0;
    }
    .main h2 {
        font-size: 2em;
    }
};
